@using SimpleQ.Webinterface.Properties
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h5>@Resources.RegisteredSuccessfully</h5>
@Resources.YourCustCode @ViewBag.custCode<br />
@Resources.ConfirmationLinkSentTo @ViewBag.email<br />
@Resources.PleaseConfirmBefore
