@using SimpleQ.Webinterface.Properties
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h3>@Resources.RegisteredSuccessfully</h3>
<div style="background-color:rgba(255, 255, 255,0.7)" class="p-4 mb-2 mt-3">
    @Resources.YourCustCode @ViewBag.custCode<br />
    @Resources.ConfirmationLinkSentTo @ViewBag.email<br />
    @Resources.PleaseConfirmBefore
</div>

<script>
    $(function () {
        $("#lang_select").hide();
        $("body").css("background-image", "url('../../Content/Images/registrationBG.jpg')");
    });
</script>