@model SimpleQ.Webinterface.Models.Customer


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="SHORTCUT ICON" href="../../Content/Images/Icons/favicon.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>
    <title>SimpleQ</title>
</head>
<body>
    <div class="container">
        <div class="col-md-6">
            <img src="../../Content/Images/Logos/simpleq.png" style="max-height: 100px;" class="img-fluid" />
        </div>

        <h2>Register</h2>
        @using (Html.BeginForm("Register", "Account"))
        {
            @Html.TextBoxFor(c => c.CustName)<br />
            @Html.TextBoxFor(c => c.CustEmail)<br />
            @Html.PasswordFor(c => c.CustPwdTmp)<br />
            @Html.TextBoxFor(c => c.Street)<br />
            @Html.TextBoxFor(c => c.Plz)<br />
            @Html.TextBoxFor(c => c.City)<br />
            @Html.TextBoxFor(c => c.Country)<br />
            @Html.DropDownListFor(c => c.LanguageCode, new SelectList(new[] { "DE", "EN", "ES" }))<br />
            @Html.TextBoxFor(c => c.DataStoragePeriod)<br />
            @Html.TextBoxFor(c => c.AccountingPeriod)<br />
            @Html.DropDownListFor(c => c.PaymentMethodId, new SelectList(ViewBag.PaymentMethods, "PaymentMethodId", "PaymentMethodDesc"))<br />
            <button type="submit">Register</button>
        }
    </div>
</body>
</html>

