@model SimpleQ.Webinterface.Models.ViewModels.SurveyCreationModel

<div class="row mt-1">
    <div class="col-md-7 pl-5 pr-5">
        <h2>Umfrage erstellen</h2>

        @using (Html.BeginForm("New", "SurveyCreation"))
        {
            <label for="SurveyCategoryCB">Umfragekategorie</label>
            @Html.DropDownListFor(model => model.Survey.CatId, new SelectList(Model.SurveyCategories, "CatId", "CatName"), new { @class = "form-control" })

            <label for="AnswerTypeCB">Beantwortungsart</label>
            @Html.DropDownListFor(model => model.Survey.TypeId, new SelectList(Model.AnswerTypes, "TypeId", "TypeDesc"), new { @class = "form-control" })

            @*<div class="form-group">
                    <label for="answerType">Beantwortungsart</label>
                    <input type="text" class="form-control" id="answerType">
                </div>*@
            <div class="form-group">
                <label for="groups">Beteiligte Gruppen</label>
                <div class="border border-dark">
                    @foreach (var group in Model.Groups)
                    {
                        <label class="form-check-label">
                            <input type="checkbox" name="SelectedGroups" value="@group.GroupId"> @group.GroupDesc
                        </label>
                    }
                </div>
            </div>

            @*

                        <ul class="list-group groups-ul pl-2" id="groups">
                            <li>
                                <label class="form-check-label">
                                    <input type="checkbox"> Human Ressources
                                </label>
                            </li>
                            <li>
                                <label class="form-check-label">
                                    <input type="checkbox"> Production
                                </label>
                            </li>
                            <li>
                                <label class="form-check-label">
                                    <input type="checkbox"> IT
                                </label>
                            </li>
                            <li>
                                <label class="form-check-label">
                                    <input type="checkbox"> Other Department
                                </label>
                            </li>
                            <li>
                                <label class="form-check-label">
                                    <input type="checkbox"> Other Department
                                </label>
                            </li>
                            <li>
                                <label class="form-check-label">
                                    <input type="checkbox"> Other Department
                                </label>
                            </li>
                            <li>
                                <label class="form-check-label">
                                    <input type="checkbox"> Other Department
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>*@

            <label for="QuestionTimeTimePicker">Befragungszeitpunkt</label>
            @Html.EditorFor(model => model.Survey.StartDate, new { htmlAttributes = new { @class = "form-control date-picker", @id = "QuestionTimeTimePicker" } })
            <div class="form-group">
                <label for="question">Fragestellung</label>
                @Html.TextBoxFor(model => model.Survey.SvyText, new { @class = "form-control", id = "question" })
                @*<input type="text" class="form-control" id="question">*@
            </div>
            <button type="submit" class="btn btn-primary btn-block">Umfrage absenden</button>
        }
    </div>
    <div class="col-md-5">
        <h3 class="text-center">Vorschau</h3>

    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".date-picker").datepicker({
            dateFormat: 'dd-M-yy'
        });

    });
</script>
