@using SimpleQ.Webinterface.App_LocalResources
@model SimpleQ.Webinterface.Models.ViewModels.SurveyCreationModel

<div class="row mt-1 ml-0 mr-0">
    <div class="col-md-7 pl-4">
        <h2>@Resources.surveyCreationHeader</h2>

        <label for="SurveyCategoryCB">@Resources.surveyCategoryHeader</label>
        @Html.DropDownList("SurveyCategoryCB",
                            new SelectList(new List<string>()),
                            new { @class = "form-control" })

        <label for="AnswerTypeCB" class="mt-2">@Resources.answerTypeHeader</label>
        @Html.DropDownList("AnswerTypeCB",
                            new SelectList(new List<string>()),
                            new { @class = "form-control" })

        <div class="form-group mt-2">
            <label for="groups">@Resources.groups</label>
            <div class="border border-dark">
                <ul class="list-group groups-ul pl-2" id="groups">
                    <li>
                        <label class="form-check-label">
                            <input type="checkbox"> Human Ressources
                        </label>
                    </li>
                    <li>
                        <label class="form-check-label">
                            <input type="checkbox"> Production
                        </label>
                    </li>
                    <li>
                        <label class="form-check-label">
                            <input type="checkbox"> IT
                        </label>
                    </li>
                    <li>
                        <label class="form-check-label">
                            <input type="checkbox"> Other Department
                        </label>
                    </li>
                    <li>
                        <label class="form-check-label">
                            <input type="checkbox"> Other Department
                        </label>
                    </li>
                    <li>
                        <label class="form-check-label">
                            <input type="checkbox"> Other Department
                        </label>
                    </li>
                    <li>
                        <label class="form-check-label">
                            <input type="checkbox"> Other Department
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group mt-2">
            <span class="row">
                <span class="col-md">
                    <label for="QuestionTimeTimePicker">@Resources.questionTimeTimeHeader</label>
                    <input id="QuestimeTimeTimePicker" type="date" class="form-control" />
                </span>
                <span class="col-md">
                    <label for="QuestionTimeDatePicker">@Resources.questionTimeDateHeader</label>
                    <input id="QuestionTimeDatePicker" type="time" class="form-control" />
                </span>
            </span>
        </div>
        <div class="form-group mt-2">
            <label for="question">@Resources.questionHeader</label>
            <input type="text" class="form-control mr-0" id="question">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Umfrage absenden</button>
    </div>
    <div class="col-md-5 p-0">
        <h3 class="text-center">@Resources.surveyPreviewHeader</h3>

    </div>
</div>


