@using SimpleQ.Webinterface.App_LocalResources
@using SimpleQ.Webinterface.Models;
@model SimpleQ.Webinterface.Models.ViewModels.SurveyCreationModel

<div class="row mt-1 ml-0 mr-0">
    <div class="col-md-7 pl-4">
        <h2>@Resources.surveyCreationHeader</h2>

        <label for="SurveyCategoryCB">@Resources.surveyCategoryHeader</label>
        @Html.DropDownListFor(model => model.SurveyCategories, new SelectList(Model.SurveyCategories, "CatId", "CatName"), new { @class = "form-control" })

        <label for="AnswerTypeCB" class="mt-2">@Resources.answerTypeHeader</label>
        @Html.DropDownListFor(model => model.AnswerTypes, new SelectList(Model.AnswerTypes, "TypeId", "TypeDesc"), new { @class = "form-control" })

        <button type="button" class="btn btn-primary btn-block mt-2" data-toggle="collapse" data-target="#answerBox"><span class="d-flex justify-content-between"><span >Answers</span><i class="material-icons">&#xe876;</i></span></button>
        <div id="answerBox" class="collapse border border-dark mt-2">
            <div class="row mt-1 mr-0 ml-0">
                <div class="col-7 pl-2 pr-1"><input id="answerInput" class="form-control" type="text" /></div>
                <div class="col-5 pl-1 pr-2"><button class="btn btn-primary btn-block">Antwort hinzufügen</button></div>
            </div>
            <ul class="list-group" id="answerUL">
                <li class="list-group-item">
                    <span class="d-flex justify-content-between">
                        <span>Hallo<button class="btn btn-info ml-2 p-0"><i class="material-icons">&#xe150;</i></button></span>
                        <button class="btn btn-danger ml-2"><i class="material-icons">&#xe5cd;</i></button>
                    </span>
                </li>
                <li class="list-group-item">
                    <span class="d-flex justify-content-between">
                        <span><input type="text" class="" value="hallo"/><button class="btn btn-info ml-2 p-0"><i class="material-icons">	&#xe5ca;</i></button></span>
                        <button class="btn btn-danger ml-2"><i class="material-icons">&#xe5cd;</i></button>
                    </span>
                </li>
                <li class="list-group-item">
                    <span class="d-flex justify-content-between">
                        <span>Hallo<button class="btn btn-info ml-2 p-0"><i class="material-icons">&#xe150;</i></button></span>
                        <button class="btn btn-danger ml-2"><i class="material-icons">&#xe5cd;</i></button>
                    </span>
                </li>
                <li class="list-group-item">
                    <span class="d-flex justify-content-between">
                        <span>Hallo<button class="btn btn-info ml-2 p-0"><i class="material-icons">&#xe150;</i></button></span>
                        <button class="btn btn-danger ml-2"><i class="material-icons">&#xe5cd;</i></button>
                    </span>
                </li>
            </ul>
        </div>

        <div class="form-group mt-2">
            <label for="groups">@Resources.groups</label>
            <div class="border border-dark">
                <ul class="list-group groups-ul pl-2" id="groups">
                    @foreach (Department group in Model.Departments)
                    {
                        <li>
                            <input type="checkbox" checked="checked" onclick=""><span>@group.DepName</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="form-group mt-2">
            <span class="row">
                <span class="col-md">
                    <label for="QuestionFromDatePicker">@Resources.questionTimeDateHeader @Resources.from</label>
                    <input id="QuestionFromDatePicker" type="date" class="form-control" />
                    <label for="QuestionToDatePicker">@Resources.questionTimeDateHeader @Resources.to</label>
                    <input id="QuestionToDatePicker" type="date" class="form-control" />
                </span>
                <span class="col-md">
                    <label for="QuestionFromTimePicker">@Resources.questionTimeTimeHeader @Resources.from</label>
                    <input id="QuestionFromTimePicker" type="time" class="form-control" />
                    <label for="QuestionToTimePicker">@Resources.questionTimeTimeHeader @Resources.to</label>
                    <input id="QuestimeToTimePicker" type="time" class="form-control" />
                </span>
            </span>
        </div>
        <div class="form-group mt-2">
            <label for="question">@Resources.questionHeader</label>
            <input type="text" class="form-control mr-0" id="question">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Umfrage absenden</button>
    </div>
    <div class="col-md-5 p-0">
        <h3 class="text-center">@Resources.surveyPreviewHeader</h3>

    </div>
</div>


