@using SimpleQ.Webinterface.Models;
@model SimpleQ.Webinterface.Models.ViewModels.SettingsModel

<h2>Einstellungen</h2>

<div class="row ml-0 mr-0">
    <div class="col-6 p-0">
        <div class="border border-primary">
            <span class="card-header p-1 row ml-0 mr-0 border border-primary border-left-0 border-right-0 border-top-0">
                <span class="col-2 text-center">Bill Nr</span>
                <span class="col-6 text-center">Billing Date</span>
                <span class="col-4 text-center">Price</span>
            </span>
            <div id="accordion">
                @foreach (var billWrapper in Model.Bills)
                {
                    Bill bill = billWrapper.Bill;
                    var surveys = billWrapper.Surveys;
                    <span class="card-header p-1 row ml-0 mr-0">
                        <span class="col-2 text-center">@bill.BillId</span>
                        <span class="col-6 text-center">@bill.BillDate.ToShortDateString()</span>
                        <span class="col-4 text-center">@bill.BillPrice.ToString("C")</span>
                    </span>
                    //<h4 class="card-header p-1">@bill.BillId | @bill.BillDate.ToShortDateString() | @bill.BillPrice.ToString("C")</h4>

                    <div class="card-body p-0" style="font-size:small">
                        <table class="table table-striped table-bordered mb-0">
                            <thead>
                                <tr>
                                    <th class="pt-0 pb-0 pl-1 pr-1">Date</th>
                                    <th class="pt-0 pb-0 pl-1 pr-1">Question</th>
                                    <th class="pt-0 pb-0 pl-1 pr-1">*</th>
                                    <th class="pt-0 pb-0 pl-1 pr-1">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var surveyWrapper in surveys)
                                {
                                    Survey svy = surveyWrapper.Survey;
                                    <tr>
                                        <td class="pt-0 pb-0 pl-1 pr-1">@svy.StartDate.ToShortDateString()</td>
                                        <td class="pt-0 pb-0 pl-1 pr-1">@svy.SvyText</td>
                                        <td class="pt-0 pb-0 pl-1 pr-1">@surveyWrapper.NumberOfAnswers</td>
                                        <td class="pt-0 pb-0 pl-1 pr-1">@surveyWrapper.SurveyPrice.ToString("C")</td>
                                    </tr>
                                }
                                <tr class="bg-primary text-white">
                                    <td class="pt-0 pb-0 pl-1 pr-1"></td>
                                    <td class="pt-0 pb-0 pl-1 pr-1">Result</td>
                                    <td class="pt-0 pb-0 pl-1 pr-1"></td>
                                    <td class="pt-0 pb-0 pl-1 pr-1">@bill.BillPrice.ToString("C")</td>
                                </tr>
                            </tbody>
                        </table>
                        <a class="ml-2"><b>*</b>... Amount of people answered</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-6">

    </div>
</div>

<script>
    $(function () {
        $("#accordion").accordion();
    });
</script>