@using SimpleQ.Webinterface.App_LocalResources
@model SimpleQ.Webinterface.Models.ViewModels.MultiResultModel


<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="groups">Antwortmöglichkeiten</label>
            <div class="border border-dark">
                <ul class="list-group groups-ul pl-2" id="answers">
                    @{ 
                        foreach (string key in Model.Votes.Keys)
                        {
                            <li>
                                <input type="checkbox" checked="checked" onclick="answerChecked()"><span>@key</span>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class=" col-md-3">
        <div class="form-group">
            <label for="groups">Gruppen</label>
            <div class="border border-dark">
                <ul class="list-group groups-ul pl-2" id="groups">
                    @*@{ List<string> l = new List<string>();
                        l.Add("HR");
                        l.Add("Produktion");
                        l.Add("Einkauf");
                        l.Add("department 4");

                    }
                    @for (var i = 0; i < l.Count; i++)
                    {
                        <li>
                            @l[i]
                        </li>
                    }*@
                    @for (var i = 0; i < Model.DepartmentNames.Count; i++)
                    {
                        <li>
                            @Model.DepartmentNames[i]
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6 pl-3 pr-3">
        <div class="form-group">
            @{
                Dictionary<string, string> dropBoxValues = new Dictionary<string, string>();
                dropBoxValues.Add("line", Resources.line);
                dropBoxValues.Add("bar", Resources.bar);
                dropBoxValues.Add("listing", Resources.listing);
            }
            <label for="chart1SelectMulti">@Resources.diagram@Resources.typeSmall 1</label>
            <select class="form-control" id="chart1SelectMulti" onchange="changeChartMulti('chart1SelectMulti','chart1Col','chart1')">
                @{
                    foreach (KeyValuePair<string, string> elem in dropBoxValues)
                    {
                        if (elem.Key == "line")
                        {
                            <option value="@elem.Key" selected>@elem.Value</option>
                        }
                        else
                        {
                            <option value="@elem.Key">@elem.Value</option>
                        }
                    }
                }

            </select>
        </div>
        <div class="form-group">
            <label for="chart2SelectMulti">@Resources.diagram@Resources.typeSmall 2</label>
            <select class="form-control" id="chart2SelectMulti" onchange="changeChartMulti('chart2SelectMulti','chart2Col','chart2')">
                @{
                    foreach (KeyValuePair<string, string> elem in dropBoxValues)
                    {
                        if (elem.Key == "bar")
                        {
                            <option value="@elem.Key" selected>@elem.Value</option>
                        }
                        else
                        {
                            <option value="@elem.Key">@elem.Value</option>
                        }
                    }
                }

            </select>
        </div>
    </div>
</div>

<script>

    $(function () {
        answerChecked();
    });

    var checkedAnswers = [];
    function answerChecked() {
        checkedAnswers = [];
        var listItems = document.getElementById('answers').getElementsByTagName('li');
        for (i = 0; i < listItems.length; i++) {
            if (listItems[i].getElementsByTagName('input')[0].checked) {
                checkedAnswers.push(listItems[i].getElementsByTagName('span')[0].textContent);
            }

        }
        changeChartMulti('chart1SelectMulti', 'chart1Col', 'chart1');
        changeChartMulti('chart2SelectMulti', 'chart2Col', 'chart2');
    }

    let multiDict = []; // create an empty array
    let multiLabels = [];
    let temp = [];
    @foreach (KeyValuePair<string, List<int>> kvp in Model.Votes)
    {
        @:temp = [];
        foreach(int i in kvp.Value)
        {
            @:temp.push(@i);
        }

         @:multiDict.push({
                @:key:"@kvp.Key"
            @:,
                @:value: temp
            @:});
    }

    @foreach(DateTime d in Model.SurveyDates)
    {
        @:multiLabels.push("@d.ToString("dd.MM.yyyy")");
    }

</script>
