@using SimpleQ.Webinterface.App_LocalResources
@model SimpleQ.Webinterface.Models.ViewModels.SurveyResultsModel


<div class="row mt-1">
    <div class="col-md-5 pl-5 pr-5">
        <label for="Surveys">Umfrage</label>
        @Html.DropDownListFor(model => model.Surveys, new SelectList(Model.Surveys, "CatName"), new { @class = "form-control" })
        
    </div>


    <div class="col-md-2">
        <div class="form-group">
            <label for="groups">Teilgenommene Gruppen</label>
            <div class="border border-dark">
                <ul class="list-group groups-ul pl-2" id="groups">
                    @{ List<string> l = new List<string>();
                        l.Add("HR");
                        l.Add("Produktion");
                        l.Add("Einkauf");
                        l.Add("department 4");

                    }
                    @for (var i = 0; i < l.Count; i++)
                    {
                        <li>
                            @l[i]
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-5 pl-5 pr-5">
        <div class="form-group">
            @{
                Dictionary<string, string> dropBoxValues = new Dictionary<string, string>();
                dropBoxValues.Add("line", Resources.line);
                dropBoxValues.Add("bar", Resources.bar);
                dropBoxValues.Add("radar", Resources.radar);
                dropBoxValues.Add("doughnut", Resources.doughnut);
            }
            <label for="chart1select">@Resources.diagram@Resources.typeSmall 1</label>
            <select class="form-control" id="chart1SelectSingle" onchange="changeChart1Single()">
                @{
                    foreach (KeyValuePair<string, string> elem in dropBoxValues)
                    {
                        <option value="@elem.Key">@elem.Value</option>
                    }
                }

            </select>
        </div>
        <div class="form-group">
            <label for="chart2SelectSingle">@Resources.diagram@Resources.typeSmall 2</label>
            <select class="form-control" id="chart2SelectSingle" onchange="changeChart2Single()">
                @{
                    foreach (KeyValuePair<string, string> elem in dropBoxValues)
                    {
                        <option value="@elem.Key">@elem.Value</option>
                    }
                }

            </select>
        </div>
    </div>
</div>
<div class="row pr-5 pl-5">
    <div class="col-md-6">
        <canvas id="chart1Single" width="800" height="500"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="chart2Single" width="800" height="500"></canvas>
    </div>
</div>

<script>
    var e = $("option[name=”value”]");
</script>
