@using SimpleQ.Webinterface.Properties;
@model List<SimpleQ.Webinterface.Models.ViewModels.SingleResultModel>


<div class="row mr-0 ml-0">
    <div class="col-1">
        <button type="button" id="previousSurveyButton" class="btn btn-light btn-block border" onclick="showPreviousSurvey()"> < </button>
    </div>

    <div class="col-10">
        <h3 id="singleResultDate" class="text-center"></h3>
    </div>

    <div class="col-1">
        <button type="button" id="nextSurveyButton" class="btn btn-light btn-block border" onclick="showNextSurvey()"> > </button>
    </div>
</div>
<div class="row mr-0 ml-0" id="singleChartOptions">

    <div class="col-md-6">
        <div class="form-group">
            @{
                Dictionary<string, string> dropBoxValues = new Dictionary<string, string>();
                dropBoxValues.Add("bar", Resources.bar);
                dropBoxValues.Add("radar", Resources.radar);
                dropBoxValues.Add("doughnut", Resources.doughnut);
                dropBoxValues.Add("listing", Resources.listing);
                dropBoxValues.Add("polarArea", Resources.polarArea);
            }
            <label for="chart1select">@Resources.diagram@Resources.typeSmall @Resources.left</label>

            <div class="row mr-0 ml-0">
                <div class="col-10 pr-0">
                    <select class="form-control" id="chart1SelectSingle" onchange="changeChartSingle('chart1SelectSingle', 'chart1Col', 'chart1');">
                        @{
                            foreach (KeyValuePair<string, string> elem in dropBoxValues)
                            {
                                if (elem.Key == "bar")
                                {
                                    <option value="@elem.Key" selected>@elem.Value</option>
                                }
                                else
                                {
                                    <option value="@elem.Key">@elem.Value</option>
                                }
                            }
                        }

                    </select>
                </div>
                <div class="col-2 pl-0">
                    <button class="btn btn-light btn-block border pb-0" onclick="zoomChart('chart1SelectSingle')"><i class="material-icons">&#xe56b;</i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="chart2SelectSingle">@Resources.diagram@Resources.typeSmall @Resources.right</label>
            <div class="row mr-0 ml-0">
                <div class="col-10 pr-0">
                    <select class="form-control" id="chart2SelectSingle" onchange="changeChartSingle('chart2SelectSingle','chart2Col','chart2')">
                        @{
                            foreach (KeyValuePair<string, string> elem in dropBoxValues)
                            {
                                if (elem.Key == "doughnut")
                                {
                                    <option value="@elem.Key" selected>@elem.Value</option>
                                }
                                else
                                {
                                    <option value="@elem.Key">@elem.Value</option>
                                }
                            }
                        }

                    </select>
                </div>
                <div class="col-2 pl-0">
                    <button class="btn btn-light btn-block border pb-0" onclick="zoomChart('chart2SelectSingle')"><i class="material-icons">&#xe56b;</i></button>
                </div>
            </div>
        </div>
    </div>    
</div>

<script>

    var dicts = [];

    @{
        for(int i = 0; i < Model.Count; i++)
        {
            @:dicts.push({ dict: [], date: "@Model[i].StartDate.ToShortDateString() - @Model[i].EndDate.ToShortDateString()", svyText: "@Model[i].SvyText"});
            if(Model[i].Votes != null)
            {
                @:freeText = false;
                foreach (KeyValuePair<string, int> kvp in Model[i].Votes)
                {

                @:dicts[@i].dict.push({
                    @:key: "@kvp.Key"
                @:,
                    @:value: "@kvp.Value"
                @:});
                }
                @:$("#chart1SelectSingle").change();
                @:$("#chart2SelectSingle").change();
            }
            else
            {
                @:freeText = true;
                @:freeTextAnswers = [];
                foreach (string answer in Model[i].FreeTextVotes)
                {
                    @:dicts[@i].dict.push("@answer");
                }
            }
            }
    }
</script>
