@using System.Resources;
@using SimpleQ.Webinterface.Properties;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="credits" content="spn-teamfreewill=sam,dean,castiel,jack" />
    <title>SimpleQ Dashboard</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="SHORTCUT ICON" href="../../Content/Images/Icons/favicon.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Layout.css" />
    <link rel="stylesheet" href="~/Content/SurveyResults.css" />
    <link rel="stylesheet" href="~/Content/SurveyCreation.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/Current.css"/>
    <link rel="stylesheet" href="~/Content/GroupAdministration.css" />
    <link rel="stylesheet" href="~/Content/device-mockups/device-mockups.css" />
    <link rel="stylesheet" href="~/Scripts/texteditor/ui/trumbowyg.css"><!--Texteditor-->


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
            integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />


    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>


    <script src="@Url.Content("~/Scripts/Chart.js")"></script>
    <script src="@Url.Content("~/Scripts/chartjs-plugin-labels.js")"></script>
    <script src="@Url.Content("~/Scripts/texteditor/trumbowyg.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/texteditor/langs/de.min.js")"></script>


    @{ 
        var displaySmallCol = "none";
        var displayWideCol = "block";

        if (Request.Cookies["smallCol"] != null && Request.Cookies["wideCol"] != null)
        {
            displaySmallCol = Request.Cookies["smallCol"].Value;
            displayWideCol = Request.Cookies["wideCol"].Value;
        }

        var leftColBG = "";
        var topBG = "";
        var mainBG = "";
        var theme = "btn-dark-theme";
        var iconClass = "icon-white";

        if (Request.Cookies["bgImg"] != null)
        {
            if(Request.Cookies["bgImg"].Value == "sun")
            {
                leftColBG = "background-image: url('/Content/Images/leftColBG.jpg');";
                topBG = "background-image: url('/Content/Images/leftColBG.jpg');";
                mainBG = "background-image: url('/Content/Images/mainBG.jpg')";
                theme = "btn-light-theme";
                iconClass = "icon-blue";
            }
        }


    }

    <script>
        var navbarHidden = false;

        var bgNumber = 0;

        $(function () {
            if (getCookie("smallCol") === "" || getCookie("wideCol") === "") {
                setCookie("smallCol", "block", 1000);
                setCookie("wideCol", "none", 1000);
            }
        });

        function setCookie(cname, cvalue, exdays) { //copied from w3schools https://www.w3schools.com/js/js_cookies.asp
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function hideNavbar() {
            navbarHidden = true;
            //setNavbarHidden(navbarHidden);
            setCookie("smallCol", "block", 1000);
            setCookie("wideCol", "none", 1000);
            $("#leftCol").hide();
            //$("#rightCol").removeClass("col-md-10").addClass("col-md-12");
            $("#smallLeftCol").show();
            $("#showNavbarBtn").show();
        }

        function showNavbar() {
            $("#smallLeftCol").hide();
            navbarHidden = false;
            //setNavbarHidden(navbarHidden);
            setCookie("smallCol", "none", 1000);
            setCookie("wideCol", "block", 1000);
            //$("#settingsOptions").hide();
            $("#showNavbarBtn").hide();
            //$("#rightCol").removeClass("col-md-11").addClass("col-md-10");
            $("#leftCol").show();//'slide', { direction: 'left' }, 500);
        }

        function getNavbarHidden() {
            if (getCookie('navbarHidden') === 'true') {
                return true;
            } else {
                return false;
            }
        }

        function setDarkTheme(boolValue) {
            if (boolValue) {
                setCookie("darkTheme", true, 1000);
                console.log("dark theme wird dark gsetzt");
            } else {
                setCookie("darkTheme", false, 1000);
            }        
        }

        function changeBG() {
            console.log("bg is" + getCookie("bgImg"));
            if (getCookie("bgImg") == "sun") {
                setBG(false);
                setCookie("bgImg", "", 1000);
            } else {
                console.log("wird auf true gsetzt");
                setBG(true);
                setCookie("bgImg", "sun", 1000);
            }
        }

        function fadeErrorOut(elem) {
            $(elem).delay(3500).fadeOut();
        }

        function setBG(bool) {
            if (bool) {
                $("#rightCol").css("background-image", "url('/Content/Images/mainBG.jpg')");
                $("#leftCol").css("background-image", "url('/Content/Images/leftColBG.jpg')");
                $("#smallLeftCol").css("background-image", "url('/Content/Images/leftColBG.jpg')");
                $("#topDiv").css("background-image", "url('/Content/Images/topBG.jpg')");
                $(".btn-dark-theme").removeClass("btn-dark-theme").addClass("btn-light-theme");
                $(".navbar-icon").removeClass("icon-white").addClass("icon-blue");
                $("#hideNavigationText").css("color", "black");
                $("#logout").removeClass("btn-outline-light").addClass("btn-outline-primary");
                $(".header").removeClass("headerDark").addClass("headerLight");
            } else {
                $("#rightCol").css("background-image", "none");
                $("#leftCol").css("background-image", "none");
                $("#smallLeftCol").css("background-image", "none");
                $("#topDiv").css("background-image", "none");
                $(".btn-light-theme").removeClass("btn-light-theme").addClass("btn-dark-theme");
                $(".navbar-icon").removeClass("icon-blue").addClass("icon-white");
                $("#hideNavigationText").css("color", "white");
                $("#logout").removeClass("btn-outline-primary").addClass("btn-outline-light");
                $(".header").removeClass("headerLight").addClass("headerDark");                
            }
        }

    </script>

</head>
<body>
    <div class="row ml-0 mr-0" id="topDiv" style="border-color:rgb(188, 188, 188)!important; @topBG">
        <div class="col-md-4">
            <a href="@Url.Action("Index", "SurveyCreation")">
                <img src="../../Content/Images/Logos/simpleq.png" style="max-height: 10vh;" class="img-fluid" />
            </a>         
        </div>
        <div class="col-md-4 text-center d-flex justify-content-center align-items-center">
            @*<div class="card" style="margin-top:auto; margin-bottom:auto">
                    <div class="card-body p-1">
                        <h1 class="m-0 black-stroke header">Überschrift</h1>
                    </div>
                </div>*@
            <h1 class="black-stroke header"></h1>
        </div>
        <div class="col-md-4 d-flex justify-content-end align-items-center">
            <!--<a class="btn btn-light border border-danger align-self-center">Logout</a>-->
            <div class="mr-4">
                <span class="row">
                    <select class="form-control mr-2" id="lang_select" onchange="lang_change()" style="width: 5rem">
                        <option value="de">DE</option>
                        <option value="en">EN</option>
                        @*<option value="es">ES</option>*@
                    </select>
                    <a href="@Url.Action("Logout", "Account")" class="btn btn-block btn-outline-light" id="logout" style="width: 8rem;">
                        <span class="d-flex justify-content-between">
                            <span>Logout</span><i id="openAddAnswerUpDownIcon" class="material-icons">&#xe8ac;</i>
                        </span>
                    </a>
                </span>
            </div>

        </div>
    </div>

    <div class="row border-bottom border-dark ml-0 mr-0" id="topDivMobile">
        <div class="row mr-0 ml-0">
            <div class="col-8">
                <img src="../../Content/Images/Logos/simpleq.png" style="max-height: 10vh;" class="img-fluid" />
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <!--<a class="btn btn-light border border-danger align-self-center">Logout</a>-->
                <div class="mr-4">
                    <span class="row">
                        <a href="@Url.Action("Logout", "Account")" class="btn btn-danger btn-block" id="logout" style="width: 8rem;">
                            <span class="d-flex justify-content-between">
                                <span>Logout</span><i id="openAddAnswerUpDownIcon" class="material-icons">&#xe8ac;</i>
                            </span>
                        </a>
                    </span>
                </div>
            </div>
        </div>


        <div class="row mr-0 ml-0 mt-2 text-center">
            <div class="col p-0">
                <a href='@Url.Action("Index", "SurveyCreation")'>
                    <i class="material-icons" style="font-size:18vw; vertical-align: middle; color:rgb(0,109,204);">&#xe0d4;</i>
                </a>
            </div>
            <div class="col p-0">
                <a href='@Url.Action("Index", "SurveyResults")'>
                    <i class="material-icons" style="font-size:18vw; vertical-align: middle; color:rgb(0,109,204);">&#xe85c;</i>
                </a>
            </div>
            <div class="col p-0">
                <a href='@Url.Action("Index", "GroupAdministration")'>
                    <i class="material-icons" style="font-size:18vw; vertical-align: middle; color:rgb(0,109,204);">&#xe8d3;</i>
                </a>
            </div>
            <div class="col p-0">
                <a href='@Url.Action("Index", "Settings")'>
                    <i class="material-icons" style="font-size:18vw; vertical-align: middle; color:rgb(0,109,204);">&#xe869;</i>
                </a>
            </div>
            <div class="col p-0">
                <a href='@Url.Action("Index", "Support")'>
                    <i class="material-icons" style="font-size:18vw; vertical-align: middle; color:rgb(0,109,204);">&#xe311;</i>
                </a>
            </div>
        </div>

        <div class="mt-2 text-center d-flex flex-column">
            <div class="card" style="margin-top:auto; margin-bottom:auto">
                <div class="card-body p-1">
                    <h1 class="m-0 black-stroke header" style="font-size:7vw;"></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-0">
        <div class="border-right p-0 m-0 cloud" id="leftCol" style="border-color:rgb(188, 188, 188)!important; display:@displayWideCol; @leftColBG">
            <div class="row m-0">
                <div class="col-sm-12 p-0" id="navbar">
                    <ul class="list-group">
                        <li class="list-group-item border-radius-0 p-0">
                            <a class="btn btn-outline-light border-0 btn-block @theme" href='@Url.Action("Index", "SurveyCreation")'>
                                <span class="row d-flex">
                                    <span class="col-3 pl-1 pr-1">
                                        @*<img src="../../Content/Images/Icons/createSurvey.png" class="img-fluid navbar-img" />*@

                                        @*<i class="material-icons" style="font-size:30px; vertical-align: middle; color:rgb(0,109,204);">&#xe0d4;</i>*@
                                        <i class="material-icons navbar-icon @iconClass" style="font-size:30px; vertical-align: middle;">&#xe0d4;</i>
                                    </span>
                                    <span class="col-9 align-self-center text-left p-0">
                                        @Resources.surveyCreationHeader
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="list-group-item p-0">
                            <a class="btn btn-outline-light border-0 btn-block @theme" href='@Url.Action("Index", "Current")' style="overflow-wrap: break-word;">
                                <span class="row d-flex">
                                    <span class="col-3 pl-1 pr-1">
                                        <i class="material-icons navbar-icon @iconClass" style="font-size:30px; vertical-align: middle;">format_list_bulleted</i>
                                        @*<img src="../../Content/Images/Icons/support.png" class="img-fluid navbar-img" />*@
                                    </span>
                                    <span class="col-9 align-self-center text-left p-0">
                                        Laufende Befragungen
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="list-group-item p-0">
                            <a class="btn btn-outline-light border-0 btn-block @theme" href='@Url.Action("Index", "SurveyResults")'>
                                <span class="row d-flex">
                                    <span class="col-3 pl-1 pr-1">
                                        @*<img src="../../Content/Images/Icons/surveyResults.png" class="img-fluid navbar-img" />*@
                                        <i class="material-icons navbar-icon @iconClass" style="font-size:30px; vertical-align: middle;">&#xe85c;</i>
                                    </span>
                                    <span class="col-9 align-self-center text-left p-0">
                                        @Resources.surveyResultsHeader
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="list-group-item p-0">
                            <a class="btn btn-outline-light border-0 btn-block @theme" href='@Url.Action("Index", "GroupAdministration")'>
                                <span class="row d-flex">
                                    <span class="col-3 pl-1 pr-1">
                                        <i class="material-icons navbar-icon @iconClass" style="font-size:30px; vertical-align: middle;">&#xe8d3;</i>
                                        @*<img src="../../Content/Images/Icons/groupAdministration.png" class="img-fluid navbar-img" />*@
                                    </span>
                                    <span class="col-9 align-self-center text-left p-0">
                                        @Resources.groupAdministrationHeader
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="list-group-item p-0">
                            <a class="btn btn-outline-light border-0 btn-block @theme" href='@Url.Action("Index", "Settings")'>
                                <span class="row d-flex">
                                    <span class="col-3 pl-1 pr-1">
                                        @*<img src="../../Content/Images/Icons/settings.png" class="img-fluid navbar-img" />*@
                                        <i class="material-icons navbar-icon @iconClass" style="font-size:30px; vertical-align: middle;">&#xe869;</i>
                                    </span>
                                    <span class="col-9 align-self-center text-left p-0">
                                        @Resources.settings
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="list-group-item p-0">
                            <a class="btn btn-outline-light border-0 btn-block @theme" href='@Url.Action("Index", "Support")' style="overflow-wrap: break-word;">
                                <span class="row d-flex">
                                    <span class="col-3 pl-1 pr-1">
                                        <i class="material-icons navbar-icon @iconClass" style="font-size:30px; vertical-align: middle;">&#xe311;</i>
                                        @*<img src="../../Content/Images/Icons/support.png" class="img-fluid navbar-img" />*@
                                    </span>
                                    <span class="col-9 align-self-center text-left p-0">
                                        @Resources.support
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="p-0 mt-2">
                            <span class="row mr-0 ml-0">
                                <span class="col-9 align-self-center text-right p-0">
                                    <a id="hideNavigationText" style="display:none">Navigation verkleinern</a>
                                </span>
                                <span class="col-3 p-0 d-flex flex-row-reverse">
                                    <button class="btn btn-outline-light border-0 pb-0 @theme" id="hideNavbarBtn" onclick="hideNavbar()">
                                        <i class="material-icons navbar-icon @iconClass">&#xe020;</i>
                                    </button>
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div style="position:absolute; bottom:0px; width:260px;">
                <a onclick="changeBG()">
                    <i class="material-icons smallNavbarIcon navbar-icon pl-2 pb-2  @iconClass" style="font-size:37px; vertical-align: middle;">collections</i>
                </a>
            </div>

        </div>

        <div class="border-right border-dark p-0 m-0" id="smallLeftCol" style="display:@displaySmallCol; @leftColBG">
            <div class="row m-0">
                <div class="col-sm-12 p-0" id="smallNavbar">
                    <ul class="list-group">
                        <li class="p-0 mt-3 d-flex justify-content-center">
                            <a href='@Url.Action("Index", "SurveyCreation")'>
                                @*<img src="../../Content/Images/Icons/createSurvey.png" class="img-fluid navbar-hidden-img" />*@
                                <i class="material-icons smallNavbarIcon navbar-icon @iconClass" style="font-size:60px; vertical-align: middle;">&#xe0d4;</i>
                            </a>
                        </li>
                        <li id="smallSettingBtn" class="p-0 mt-1 d-flex justify-content-center">
                            <a href='@Url.Action("Index", "Current")'>
                                @*<img src="../../Content/Images/Icons/settings.png" class="img-fluid navbar-hidden-img" />*@
                                <i class="material-icons smallNavbarIcon navbar-icon @iconClass" style="font-size:60px; vertical-align: middle;">format_list_bulleted</i>
                            </a>
                        </li>
                        <li class="p-0 mt-1 d-flex justify-content-center">
                            <a href='@Url.Action("Index", "SurveyResults")'>
                                @*<img src="../../Content/Images/Icons/surveyResults.png" class="img-fluid navbar-hidden-img" />*@
                                <i class="material-icons smallNavbarIcon navbar-icon @iconClass" style="font-size:60px; vertical-align: middle;">&#xe85c;</i>
                            </a>
                        </li>
                        <li class="p-0 mt-1 d-flex justify-content-center">
                            <a href='@Url.Action("Index", "GroupAdministration")'>
                                <i class="material-icons smallNavbarIcon navbar-icon @iconClass" style="font-size:60px; vertical-align: middle;">&#xe8d3;</i>
                                @*<img src="../../Content/Images/Icons/groupAdministration.png" class="img-fluid navbar-hidden-img" />*@
                            </a>
                        </li>
                        <li id="smallSettingBtn" class="p-0 mt-1 d-flex justify-content-center">
                            <a href='@Url.Action("Index", "Settings")'>
                                @*<img src="../../Content/Images/Icons/settings.png" class="img-fluid navbar-hidden-img" />*@
                                <i class="material-icons smallNavbarIcon navbar-icon @iconClass" style="font-size:60px; vertical-align: middle;">&#xe869;</i>
                            </a>
                        </li>
                        <li class="p-0 mt-1 d-flex justify-content-center">
                            <a href='@Url.Action("Index", "Support")'>
                                <i class="material-icons smallNavbarIcon navbar-icon @iconClass" style="font-size:50px; vertical-align: middle;">&#xe311;</i>
                                @*<img src="../../Content/Images/Icons/support.png" class="img-fluid navbar-hidden-img" />*@
                            </a>
                        </li>
                        <li class="p-0 mt-2 d-flex">
                            <button class="btn btn-outline-light btn-dark-theme border-0 pb-0" id="showNavbarBtn" onclick="showNavbar()">
                                <i class="material-icons navbar-icon @iconClass">&#xe01f;</i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col p-0 m-0 border-top" id="rightCol" style="@mainBG">
            @if (ViewBag.emailConfirmed == false)
            {
                <div class="alert alert-danger ml-4 mr-4 mt-2">
                    <strong>Achtung!</strong> Bitte bestätigen Sie umgehend Ihre E-Mail Adresse.
                </div>
            }
            @RenderBody()
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            if (localStorage["__simpleq-curr-lang"] == undefined) {
                localStorage["__simpleq-curr-lang"] = navigator.language.split("-")[0];
            }

            $("#lang_select").val(localStorage["__simpleq-curr-lang"]);
            if (window.location.pathname.split("/")[1] != localStorage["__simpleq-curr-lang"])
                lang_change();
        });

        function lang_change() {
            let lang = $("#lang_select").val();
            localStorage["__simpleq-curr-lang"] = lang;
            window.location.replace("@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))" + lang + "/" + window.location.pathname.split("/", 4)[2] + window.location.search);
        }
    </script>
</body>
</html>
