@using System.Resources;
@using SimpleQ.Webinterface.Properties;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="credits" content="spn-teamfreewill=sam,dean,castiel,jack" />
    <title>SimpleQ Dashboard</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="SHORTCUT ICON" href="../../Content/Images/Icons/favicon.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Layout.css" />
    <link rel="stylesheet" href="~/Content/SurveyResults.css" />
    <link rel="stylesheet" href="~/Content/SurveyCreation.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/GroupAdministration.css" />
    <link rel="stylesheet" href="~/Content/device-mockups/device-mockups.css" />
    <link rel="stylesheet" href="~/Scripts/texteditor/ui/trumbowyg.css"><!--Texteditor-->


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
            integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>


    <script src="@Url.Content("~/Scripts/Chart.js")"></script>
    <script src="@Url.Content("~/Scripts/chartjs-plugin-labels.js")"></script>
    <script src="@Url.Content("~/Scripts/texteditor/trumbowyg.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/texteditor/langs/de.min.js")"></script>

    <script>
        var navbarHidden = false;

        $(function () {
            if (window.localStorage.getItem('navbarHidden') === null) {
                window.localStorage.setItem('navbarHidden', 'false');
            } else {
                navbarHidden = getNavbarHidden();
            }

            if (!navbarHidden) {
                $("#showNavbarBtn").hide();
                $("#smallLeftCol").hide();
            } else {
                $("#leftCol").hide();
                $("#rightCol").removeClass("col-md-10").addClass("col-md-12");
            }
            $("#settingsOptions").hide();


            $("body").on("mousemove", function (event) {
                if (event.pageX < 30 && navbarHidden) {
                    $("#smallLeftCol").show('slide', { direction: 'left' }, 500);
                    $("#rightCol").removeClass("col-md-12").addClass("col-md-11");
                }
                if (event.pageX > 150 && $("#smallLeftCol").is(":visible")) {
                    $("#smallLeftCol").hide();
                    $("#rightCol").removeClass("col-md-11").addClass("col-md-12");
                }
            });
            $("#smallSettingBtn").click(function () {
                if ($("#settingsOptions").is(":visible")) {
                    $("#settingsOptions").hide(500);
                } else {
                    $("#settingsOptions").show(500);
                }

            });

        });

        function hideNavbar() {
            navbarHidden = true;
            setNavbarHidden(navbarHidden);
            $("#leftCol").hide();
            $("#rightCol").removeClass("col-md-10").addClass("col-md-12");
            $("#showNavbarBtn").show();
        }

        function showNavbar() {
            $("#smallLeftCol").hide();
            navbarHidden = false;
            setNavbarHidden(navbarHidden);
            $("#settingsOptions").hide();
            $("#showNavbarBtn").hide();
            $("#rightCol").removeClass("col-md-11").addClass("col-md-10");
            $("#leftCol").show('slide', { direction: 'left' }, 500);
        }

        function setNavbarHidden(boolValue) {
            if (boolValue) {
                window.localStorage.setItem('navbarHidden', 'true');
            } else {
                window.localStorage.setItem('navbarHidden', 'false');
            }
        }

        function getNavbarHidden() {
            if (window.localStorage.getItem('navbarHidden') === 'true') {
                return true;
            } else {
                return false;
            }
        }

    </script>

</head>
<body>
    <div class="row border-bottom border-dark ml-0 mr-0">
        <div class="col-md-4">
            <img src="../../Content/Images/Logos/simpleq.png" style="max-height: 100px;" class="img-fluid" />
        </div>
        <div class="col-md-4 text-center d-flex flex-column">
            <h1 class="mt-auto" id="header">Überschrift</h1>
        </div>
        <div class="col-md-4 d-flex justify-content-end align-items-center">
            <!--<a class="btn btn-light border border-danger align-self-center">Logout</a>-->
            <div class="mr-4">
                <span class="row">
                    <select class="form-control mr-2" id="lang_select" onchange="lang_change()" style="width: 5rem">
                        <option value="de">DE</option>
                        <option value="en">EN</option>
                        @*<option value="es">ES</option>*@
                    </select>
                    <a href="@Url.Action("Logout", "Account")" class="btn btn-danger btn-block" id="logout" style="width: 8rem;">
                        <span class="d-flex justify-content-between">
                            <span>Logout</span><i id="openAddAnswerUpDownIcon" class="material-icons">&#xe8ac;</i>
                        </span>
                    </a>
                </span>
                @*<span class="row text-left" id="verion" style="font-size:medium;">
                        Version: 2.3.4.5
                </span>*@
            </div>

        </div>
    </div>
    <div class="row m-0">
        <div class="col-md-2 border-right border-dark p-0 m-0" id="leftCol">
            <div class="row m-0">
                <div class="col-sm-12 p-0" id="navbar">
                    <ul class="list-group">
                        <li class="list-group-item p-0">
                            <a class="btn btn-light btn-block" href='@Url.Action("Index", "SurveyCreation")'>
                                <span class="row d-flex">
                                    <span class="col-9 align-self-center font-size-responsive p-0">
                                        Befragung starten
                                    </span>
                                    <span class="col-3 pl-1 pr-1">
                                        <img src="../../Content/Images/Icons/createSurvey.png" class="img-fluid navbar-img" />
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="list-group-item p-0">
                            <a class="btn btn-light btn-block" href='@Url.Action("Index", "SurveyResults")'>
                                <span class="row d-flex">
                                    <span class="col-9 align-self-center font-size-responsive p-0">
                                        @Resources.surveyResultsHeader
                                    </span>
                                    <span class="col-3 pl-1 pr-1">
                                        <img src="../../Content/Images/Icons/surveyResults.png" class="img-fluid navbar-img" />
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="list-group-item p-0">
                            <a class="btn btn-light btn-block" href='@Url.Action("Index", "GroupAdministration")'>
                                <span class="row d-flex">
                                    <span class="col-9 align-self-center font-size-responsive p-0">
                                        Gruppenverwaltung
                                    </span>
                                    <span class="col-3 pl-1 pr-1">
                                        <img src="../../Content/Images/Icons/groupAdministration.png" class="img-fluid navbar-img" />
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="list-group-item p-0">
                            <a class="btn btn-light btn-block" href='@Url.Action("Index", "Settings")'>
                                <span class="row d-flex">
                                    <span class="col-9 align-self-center font-size-responsive p-0">
                                        Einstellungen
                                    </span>
                                    <span class="col-3 pl-1 pr-1">
                                        <img src="../../Content/Images/Icons/settings.png" class="img-fluid navbar-img" />
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="list-group-item p-0">
                            <a class="btn btn-light btn-block" href='@Url.Action("Index", "Support")' style="overflow-wrap: break-word;">
                                <span class="row d-flex">
                                    <span class="col-9 align-self-center font-size-responsive p-0">
                                        Support
                                    </span>
                                    <span class="col-3 pl-1 pr-1">
                                        <img src="../../Content/Images/Icons/support.png" class="img-fluid navbar-img" />
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="list-group-item p-0">
                            <button class="btn btn-light btn-block pb-0 border border-primary" id="hideNavbarBtn" onclick="hideNavbar()">
                                <i class="material-icons">&#xe020;</i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-1  p-0 m-0" id="smallLeftCol">
            <div class="row m-0">
                <div class="col-sm-12 p-0" id="smallNavbar">
                    <ul class="list-group pl-2">
                        <li class="p-0 mt-3 d-flex justify-content-center">
                            <a href='@Url.Action("Index", "SurveyCreation")'>
                                <img src="../../Content/Images/Icons/createSurvey.png" class="img-fluid navbar-hidden-img" />
                            </a>
                        </li>
                        <li class="p-0 mt-1 d-flex justify-content-center">
                            <a href='@Url.Action("Index", "SurveyResults")'>
                                <img src="../../Content/Images/Icons/surveyResults.png" class="img-fluid navbar-hidden-img" />
                            </a>
                        </li>
                        <li class="p-0 mt-1 d-flex justify-content-center">
                            <a href='@Url.Action("Index", "GroupAdministration")'>
                                <img src="../../Content/Images/Icons/groupAdministration.png" class="img-fluid navbar-hidden-img" />
                            </a>
                        </li>
                        <li id="smallSettingBtn" class="p-0 mt-1 d-flex justify-content-center">
                            <a>
                                <img src="../../Content/Images/Icons/settings.png" class="img-fluid navbar-hidden-img" />
                            </a>
                        </li>
                        <li id="settingsOptions">
                            <ul class="list-group">
                                <li class="settingsOption mt-1"><button type="button" href="#" class="btn btn-primary btn-block">Anwendung</button></li>
                                <li class="settingsOption mt-1"><button type="button" href="#" class="btn btn-primary btn-block">Rechnung</button></li>
                                <li class="settingsOption mt-1"><button type="button" href="#" class="btn btn-primary btn-block">Konto</button></li>
                            </ul>
                        </li>
                        <li class="p-0 mt-1 d-flex justify-content-center">
                            <a href='@Url.Action("Index", "Support")'>
                                <img src="../../Content/Images/Icons/support.png" class="img-fluid navbar-hidden-img" />
                            </a>
                        </li>
                        <li class="p-0 mt-2 d-flex justify-content-center">
                            <button class="btn btn-light pb-0 border border-primary" onclick="showNavbar()">
                                <i class="material-icons">&#xe01f;</i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10 p-0 m-0" id="rightCol">
            @if (ViewBag.emailConfirmed == false)
            {
                <div class="alert alert-danger ml-4 mr-4 mt-2">
                    <strong>Achtung!</strong> Bitte bestätigen Sie umgehend Ihre E-Mail Adresse.
                </div>
            }
            @RenderBody()
        </div>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            $("#lang_select").val(window.location.pathname.split("/")[1]);
        });

        function lang_change() {
            let lang = $("#lang_select").val();
            window.location.replace("@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))" + "/" + lang);
        }
    </script>
</body>
</html>
